@import "_var.scss";
body{
  font-family: $font-family;
  font-size: 15px;
  color: $cl-gray;
  a{
    text-decoration: none;
    outline: none;
    &:hover,
    &:focus{
      text-decoration: none;
      outline: none;
    }
  }
  .btn{
    &.btn-gic{
      font-weight: 600;
      padding: 0;
      position: relative;
      span{
        color: $cl-white;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        white-space: nowrap;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
#menu_mobile{
  position: fixed;
  width: calc(100% - 75px);
  height: 100vh;
  z-index: 99999;
  top: 0;
  right: 0;
  display: flex;
  display: -ms-flexbox;
  background-color: #E0ECFE;
  flex-direction: column;
  justify-content: space-between;
  @include transition(all 0.5s ease);
  @include transform(translateX(100%));
  .hamburger_btn{
    position: absolute;
    left: -55px;
    width: 35px;
    top: 15px;
    z-index: 1;
    opacity: 0;
    @include transition(all 0.5s ease);
    pointer-events: none;
  }
  &.open{
    @include transform(translateX(0));
    .hamburger_btn{
      opacity: 1;
      pointer-events: visible;
    }
  }
  .menu_lang{
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    display: -ms-flexbox;
    padding-left: 0;
    justify-content: flex-end;
    margin-bottom: 0;
    li{
      list-style: none;
      &:not(:last-child){
        margin-right: 1rem;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 1px;
          height: 1rem;
          background: $cl-gray;
          right: -.5rem;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
      &.active{
        a{
          font-weight: bold;
          color: #0A086D;
        }
      }
    }
  }
  .group_btn_top{
    padding: 2rem;
  }
  .menu_site{
    list-style: none;
    padding-left: 0;
    li{
      position: relative;
      a{
        font-size: 16px;
        color: #0A086D;
        text-transform: uppercase;
        padding: 15px 2rem;
        display: block;
        border-bottom: 1px solid #8FC3E6;
      }
      &.current-menu-item{
        >a{
          color: #0A086D;
          font-weight: bold;
        }
      }
      .sub-menu{
        list-style: none;
        padding-left: 1rem;
        display: none;
        li{
          a{
            text-transform: capitalize;
            padding: 2px 0;
            font-size: 13px;
          }
        }
      }
      &.menu-item-has-children{
        &:before{
          position: absolute;
          content: "\f107";
          font-family: FontAwesome;
          right: 0;
          top: 10px;
          color: #0A086D;
          @include transition(all 0.5s ease);
        }
        &.showmenu{
          &:before{
            @include transform(rotate(180deg));
          }
        }
      }
    }
  }
  .group_btn_bottom{
    background: $cl-blue;
    .btn_item{
      padding: 2rem;
      position: relative;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        background: url(../images/top_btn.png) no-repeat top center / 100% auto;
        top: 0;
        left: 0;
      }
      &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        background: url(../images/bottom_btn.png) no-repeat bottom center / 100% auto;
        bottom: 0;
        left: 0;
      }
    }
  }
}
.overlay_menu{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99991;
  background: rgba(0,0,0,0.3);
  @include transition(all 0.5s ease);
  @include transform(translateX(100%));
  &.is-active{
    @include transform(translateX(0));
  }
}
#header_site{
  padding: 10px 0;
  background: $cl-white;
  .hamburger_btn{
    img{
      height: 15px;
      width: auto;
    }
  }
}
.banner_site{
  .banner_slider{
    .item{
      img{
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
      }
    }
  }
}
.notify_gic{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 150px);
    top: 150px;
    left: 0;
    background: linear-gradient(180deg, #C6E0FF 0%, #99BCFF 69.27%, #A791FF 100%);
  }
  .notify_content{
    position: relative;
    .star{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        position: absolute;
        &:nth-child(1){
          left: 2%;
          top: 20%;
          mix-blend-mode: color-dodge;
        }
        &:nth-child(2){
          left: 8%;
          top: 50%;
          mix-blend-mode: color-dodge;
        }
        &:nth-child(3){
          left: 40%;
          top: 40%;
          mix-blend-mode: color-dodge;
        }
        &:nth-child(4){
          right: 2%;
          top: 10%;
          mix-blend-mode: color-dodge;
        }
        &:nth-child(5){
          right: 5%;
          top: 25%;
          mix-blend-mode: color-dodge;
        }
        &:nth-child(6){
          right: 3%;
          top: 50%;
          mix-blend-mode: color-dodge;
        }
      }
    }
    .content_inner{
      font-weight: bold;
      position: absolute;
      width: 70%;
      text-align: center;
      left: 15%;
      top: 5%;
    }
    .notify_btn{
      width: 100%;
      position: absolute;
      bottom: 5%;
      width: 96%;
      left: 2%;
    }
  }
  .award_gic{
    position: relative;
    .award_list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      .item_award{
        padding: 0 .75rem;
        position: relative;
        border-bottom: 1px solid #8FC3E6;
        display: flex;
        align-items: flex-end;
        h3{
          margin-bottom: 0;
        }
        &:first-child{
          grid-column: 1 / 3;
        }
        &::before{
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: screen;
          background: url(../images/bg-award.png) no-repeat bottom right / auto 120%;
        }
        .meta_info{
          position: absolute;
          top: 1rem;
          left: .75rem;
        }
        figure{
          width: 60%;
          margin-left: auto;
          margin-right: 1rem;
          padding-top: 3rem;
          margin-bottom: 0;
          position: relative;
        }
        &:not(:first-child){
          border-bottom: 1px solid $cl-white;
          &::before{
            background: url(../images/haft-cirlce.png) no-repeat bottom right .75rem / 70% auto;
          }
          figure{
            padding-top: 4rem;
            text-align: center;
            img{
              max-height: 75px;
              max-width: 100px;
              width: auto;
              height: auto;
              margin: 0 auto 17px;
            }
          }
        }
      }
    }
    .voucher{
      padding: 0 .75rem;
      .meta_info{
        h3{
          margin-bottom: 0;
        }
      }
    }
  }
}
.rules_gic{
  .slider_rules{
    .item{
      background: linear-gradient(171.58deg, #6599FE -5.19%, #0D41F7 103.25%);
      border-radius: 15px;
      color: $cl-white;
      width: 140px;
      height: 140px;
      margin: 0 5px;
      padding: .75rem 1rem;
      .icon{
        width: 64px;
        height: 64px;
        border: 1px solid $cl-white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;
        img{
          height: 36px;
          width: auto;
        }
        &::before{
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid #DCF8FA;
          filter: blur(8px);
          top: 0;
          left: 0;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        &::after{
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid #DCF8FA;
          filter: blur(8px);
          top: 0;
          left: 0;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      h3{
        margin-bottom: 0;
      }
    }
  }
}
.figure_gic{
  .figure_slider{
    .item{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: relative;
      margin: 0 5px;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #A1C0FB;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        @include transition(all 0.5s ease);
      }
      &.slick-active{
        &::before{
          opacity: 0;
        }
      }
    }
    .prev_slider{
      position: absolute;
      left: .75rem;
      top: 50%;
      z-index: 1;
      @include transform(translateY(-50%));
    }
    .next_slider{
      position: absolute;
      right: .75rem;
      top: 50%;
      z-index: 1;
      @include transform(translateY(-50%));
    }
  }
}
.your_info{
  position: relative;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background: url(../images/bottom_btn.png) no-repeat bottom center / 100% auto;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  .user_info{
    text-align: center;
    .avatar{
      img{
        width: 40px;
      }
    }
  }
  .game_wrapper{
    background: linear-gradient(180deg, #1E4D97 0%, #4B8BEF 100%);
    color: $cl-white;
    padding: 2rem 0;
    position: relative;
    .line{
      position: absolute;
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      @include transform(translateX(-50%));
      background: #8FC3E6;
    }
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      background: url(../images/top_btn.png) no-repeat top center / 100% auto;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      background: url(../images/bottom_btn.png) no-repeat bottom center / 100% auto;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
  }
}
.your_award{
  background: #E1E9FD;
  table{
    tr{
      td{
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          text-align: right;
        }
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #8FC3E6;
      }
    }
  }
}
.notification{
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #001A44 0%, #3503A1 100%);
  align-items: center;
  justify-content: center;
  color: $cl-white;
  font-weight: bold;
  font-size: 25px;
  .inner_notify{
    background: url(../images/circle.png) no-repeat center center / contain;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
  }
}
#footer_site{
  background: #2417D8;
  color: $cl-white;
}